
@{
    Layout = null; //this is an SPA which shouldn't inherit from the styles used in the rest of the application
}

<!DOCTYPE html>
<html ng-app="dashboard" ng-strict-di>
<head>
    <title>Dashboard</title>
    @Styles.Render("~/Content/dashboard")
    @Styles.Render("~/Content/css")
    
</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Dev Dashboard", StatusBoard.Core.Constants.Controller.Actions.Index, new {controller = StatusBoard.Core.Constants.Controller.Home}, new {@class = "navbar-brand"})
        </div>
        <!-- /.navbar-header -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Servers<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-controller="dashboardController">
                            <li ng-repeat="server in servers">
                                <a href="#/server/{{server.ServerId}}">{{server.DisplayName}}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="@Url.Action(StatusBoard.Core.Constants.Controller.Actions.Index, StatusBoard.Core.Constants.Controller.Servers)" class="active"><i class="fa fa-fw fa-cog"></i> Server Admin</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">

        <div ng-view></div>
    </div>
    <!-- /#page-wrapper -->

</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/singlepagedashboard")

</body>
</html> 