<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@RenderSection("title")</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sitecss")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Development Dashboard", StatusBoard.Core.Constants.Controller.Actions.Index, StatusBoard.Core.Constants.Controller.Home, new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", StatusBoard.Core.Constants.Controller.Actions.Index, StatusBoard.Core.Constants.Controller.Dashboard)</li>
                    <li>@Html.ActionLink("Server Admin", StatusBoard.Core.Constants.Controller.Actions.Index, StatusBoard.Core.Constants.Controller.Servers)</li>
                </ul>
                    @Html.Partial(StatusBoard.Core.Constants.Controller.PartialViews.LoginPartial)
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Luke Bearl</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
