@model IEnumerable<StatusBoard.Web.ViewModels.ServerVM>

@section title{Server Admin}


<h2>Server Admin</h2>

<p>
    @Html.ActionLink("Create New", StatusBoard.Core.Constants.Controller.Actions.Create)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HostName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", StatusBoard.Core.Constants.Controller.Actions.Edit, new { id=item.ServerId }) |
            @Html.ActionLink("Details", StatusBoard.Core.Constants.Controller.Actions.Details, new { id=item.ServerId }) |
            @Html.ActionLink("Delete", StatusBoard.Core.Constants.Controller.Actions.Delete, new { id=item.ServerId })
        </td>
    </tr>
}

</table>
